@use 'master-styles' as *;

.contact__card {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 100%;
    margin-right: 25px;
    margin-left: 25px;
    background: $backgroundcolor;
    text-align: center;
    padding-bottom: 50px;
    padding-left: 18%;

    .card {
      width: 80%;
      margin-right: 25px;
      margin-left: 25px;
      box-shadow: 13px 13px ;
      color: #213D58;
    }

    .contact__logo {
      padding: 2%;
    }

    .contact__title {
      text-align: center;
        font-size: 1.5rem;
        color: #213D58;
        padding: 2%;
    }

    .contact__input {
      padding: 3%;
    }

    .contact__icons {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      :hover {
        color: #FDE46D;
      }
    }

    .contact__link {
      padding: 1.5%;
    }
}

.contact__form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  gap: 10px;
}

.sm-input-form {
  min-height: 35px;
  padding: 10px;
  font-size: 16px;
}

.textarea-form {
  height: 150px;
  padding: 15px;
  font-size: 16px;
}

.input-button {
  max-width: fit-content;
  margin: 0 auto;
  font-size: 18px;
  padding: 7px 10px;
  color: white;
  background-color: $secondaryColor;
  border-radius: 5px;

  &:hover {
    background-color: #FDE46D;
    color: black;
  }
}

.bold {
  font-weight: 800;
  color: black;
}
